<h1>Ingredient Master List</h1>
<ul>
  <% @ingredients.each() do |ingredient|%>
    <li>
      <form class="form-inline" action="/ingredients/delete/<%=ingredient.id%>" method="post">
        <label for=""><a href="ingredients/<%=ingredient.id%>"><%= ingredient.name %></a></label>
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-primary btn-xs" name="delete">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<form class="" action="/ingredients" method="post">
  <label for="ingredient">Add a New Ingredient:</label>
  <input type="text" name="name" placeholder="Ingredient e.g. Cheese">
  <button name="button">Add Ingredient</button>
</form>

<a href="/">Home</a>
